/* styles.css */
/* created by Jesse Jurman, Wilson Chaney, Quinn McNamara */

body {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

a.check-100 {
  width: 100%;
  font-size: 2.5em;
  padding-left: 1%; /* fudging the pixels */
  margin-top: 2%;
  margin-bottom: 2%;
}

a.pot-button {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 39%;
  font-size: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;

  /* radius border, for when we want it circle-ish */
  -moz-border-radius: 41px;
  -webkit-border-radius: 41px;
  border-radius: 41px;
}

input {
  text-transform: uppercase;
}

#pot {
  font-size: 5em;
  margin-top: 50%;
}
